import(Rcpp)
import(RcppProgress)
import(gtools)
import(foreach)
import(doParallel)
importFrom("graphics", "boxplot", "par", "plot")
importFrom("barplot")
importFrom("stats", "dbinom")
export(rlda.bernoulli)
export(rlda.multinomial)
export(rlda.binomial)
export(plot.rlda)
export(predict.rlda)
export(summary.rlda)
S3method("plot", "rlda")
S3method("summary", "rlda")
S3method("predict", "rlda")
useDynLib(Rlda, .registration = TRUE)


